extends layout

block content

  -
    var pages = [
      {
        label: 'Главная',
        name: 'main'
      }
    ]

  main.index-menu
    div Список страниц в проекте:
    ol
      each page in pages
        li
          a(href= page.name + '.html')= page.label
