doctype html
html(lang="ru")
  head
    title Академия свадебных стилистов
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Oranienbaum|PT+Serif:400,400i,700,700i')
    link(rel='stylesheet', href='./css/main.css')
  body
    block content

